.navbar {
	list-style-type: none; /* Removes bullet points */
	overflow: hidden;
	background-color: #4E8098;
	vertical-align: top;
	display: inline-block;
	width: 98%;
}

.navbar li {
	float: left; /* Unstacks links */
}

.navbar li a {
	display: block;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none; /* Removes underline from link */
	color: white; /* Text color white */
}

.navbar li a:hover {
	background-color: #A31621;
}
	
.grid-container {
	display: grid;
	grid-gap: 10px;
	background-color: #CED3DC;
}

.grid-item {
	text-align: center;
	padding: 20px;
	font-size: 25px;
	background-color: #82ACBF;
	border: solid #90C2E7 10px;
}

.item1 {
	grid-column: 1 / span 3;
	grid-row: 1;
}

.item2 {
	grid-column: 1;
	grid-row: 2;
	height: 93%;
}

.item3 {
	grid-column: 3;
	grid-row: 2;
	height: 93%; /* This took too long to figure out and I feel dumb, but using % instead of pixels makes this reactive. 93% works well for showing the background in-between borders */
}

.item4 {
	grid-column: 1 / span 3;
	grid-row: 4;
	height: 93%;
}

.item5 {
	grid-column: 1 / span 3;
	grid-row: 6;
}