.navbar {
	list-style-type: none; /* Removes bullet points */
	overflow: hidden;
	background-color: #4E8098;
	vertical-align: top;
	display: inline-block;
	width: 98%;
}

.navbar li {
	float: left; /* Unstacks links */
}

.navbar li a {
	display: block;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none; /* Removes underline from link */
	color: white; /* Text color white */
}

.navbar li a:hover {
	background-color: #A31621;
}
	
.grid-container {
	display: grid;
	grid-gap: 10px;
	background-color: #CED3DC;
}

.grid-item {
	text-align: center;
	padding: 20px;
	font-size: 30px;
	background-color: #82ACBF;
	border: solid #90C2E7 10px;
}

.item1 {
	grid-column: 1 / span 3;
	grid-row: 1;
}

.item2 {
	grid-column: 1 / span 3;
	grid-row: 2;
	height: 93%;
	text-align: center; /* This takes priority over grid-item class, tried left-justified but isn't symmetrical or pleasing */
}

.item3 {
	grid-column: 1 / span 3;
	grid-row: 3 / span 4;
	height: 93%;
}

.item4 {
	grid-column: 1 / span 3;
	grid-row: 7;
}